/*Footer*/

.footer {
    padding: 5rem 0;
}
.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}
.text-center {
    text-align: center !important;
}
.bg-black {
    background-color: #FFF !important;
}
small, .small {
    font-size: 80%;
    font-weight: 400;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
footer {
    display: block;
}








